<a href="https://colab.research.google.com/github/44REAM/RA-Medphys/blob/main/1_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro


1.   Introduction to Python programming: Operators, Variables, Data types, Function, Control flow
2.   File handling, Basic Python for scientific, Monte Carlo simulation
3.  Dose calculation with Python, Dosimetric parameter extraction
4.   Dose Volume Histogram (DVH) curve, Gamma analysis, Basic concept of Artificial Intelligence (AI) and Machine Learning (ML)

4 Quiz (20% each)

1 exam (20%)

# Outline


*   How to write program in python
*   Introduction to Python
    *   Operator
    *   Variables
*   Control Flow
    *   Conditional statement
    *   Looping
*   function
*   List
    *   Indexing
    *   Slicing
*   Dictionary
*   working with file
*   package
*   Class

# How to write program in Python

In python there are two kind of file format


1.   .py
2.   .ipynb jupyter notebook (เช่นไฟล์ที่เราใช้อยู่)

## software แนะนำที่ใช้เขียน .py

**vscode**

https://code.visualstudio.com/

**PyCharm**

https://www.jetbrains.com/pycharm/

---

## software แนะนำที่ใช้เขียน .ipynb

**colab**

https://colab.research.google.com



**Jupyter notebook/lab**

https://jupyter.org/



**vscode**

https://code.visualstudio.com/

https://code.visualstudio.com/docs/datascience/jupyter-notebooks


---


## Resources

1.   https://www.w3schools.com/python/
2.   https://www.li.mahidol.ac.th/eng/e-databases/

![image.png]()

# Introduction to Python

Python is an interpreter language

## 1. Basics of Python

function(parameter1, parameter2, optional_parameter = 1)

In [4]:
print("Hello World")

Hello World

In [ ]:
# Print Statement
print("Hello World")

# Print enters a newline after the string printed
print("Hello")
print("World")

# To add space at the end not newline
print("Hello", end=" ")
print("World")

Hello World
Hello
World
Hello World

#### Comment
Comment can be used for documentation or explanation of code.

In [6]:
# note this line print hello world
print("hello world")

hello world

In [7]:
'''
This is a multi
line comment
'''

'\nThis is a multi\nline comment\n'

### Arithmetic Operators

Python supports 7 arithmetic operations
- +(additon)
- -(Subtraction)
- *(Multiplication)
- /(Division)
- //(Integer Division)
-  %(Modulus)
- **(Exponential)

In [8]:
# Addition
print( 5 + 6)

# Subtraction
print( 10 - 7)

# Multiplication
print( 6 * 7)

# Division
print( 35 / 9)

# Integer Division
print ( 35 // 9)

# Modulus
print( 35 % 9)

# Exponential
print( 5 ** 2)

11
3
42
3.888888888888889
3
8
25

### Relational Operators
There are 6 relational operators
- == (Equal)
- != (Not equal)
- \> (Greater than)
- \< (Less than 	x < y)
- \>= (Greater than or equal to)
- <= 	(Less than or equal to)

In [ ]:
# greater than
print(45 > 34)

# less than
print(45 < 34)

# equal
print(45 == 34)

# not equal
print(45 != 34)

# less than or equal to
print(45 <= 34)

# greater than or equal to
print(45 >= 34)

True
False
False
True
False
True

### Logical Operations
There are mainly 3 logical operations
- and operator (และ) - Returns 1 when both operands is non-zero and returns True both are True
- or operator (หรือ) - Returns 1 when either of the operands are non-zero and returns True when either is True.
- not operator (ไม่) - Returns True when operand is zero or False

In [ ]:
# And operator
print(True and False)
print(True and True)
print(0 and 1)
print(1 and 1)

print((6 > 3) and (3 == 5) )

# And operator
print(True or False)
print(True or True)
print(False or False)
print(1 and 1)


# Not operator
print(not 1)
print(not 0)
print( not (6<3))

False
True
0
1
False
True
True
False
1
False
True
True

### Quiz

(6 มากกว่าเท่ากับ 3) และ (0 ไม่เท่ากับ 0) หรือ (not (9>1))

In [14]:

(6 >= 3) and (0!=0) or (not (9>1))

'Hello'

## Variables and DataTypes

In [ ]:
# Assignment
a = 12
b = 65
c = a * b
print( a * b)
print(c)

780
780

### Variable naming rules
Variable names flow almost same set of rules like most other programming languages

1.    A variable name must start with a letter or the underscore character
2.    A variable name cannot start with a number
3.    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4.    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
adl_123= 123
print( adl_123)

123

In [21]:
# no special character
@a=5

SyntaxError: ignored

### Data types
- Text Type: 	str
- Numeric Types: 	int, float, complex
- Sequence Types: 	list, tuple, range
- Mapping Type: 	dict
- Set Types: 	set, frozenset
- Boolean Type: 	bool
- Binary Types: 	bytes, bytearray, memoryview

[Note: Python supports auto-typecasting and doesn't imply user to provide data type of variable during declaration. Type of any variable can be checked using type(). ]

In [22]:
x = 5
print(type(x))

<class 'int'>

In [23]:
x = 20.5
print(type(x))

<class 'float'>

In [24]:
x = "Hello World"
print(type(x))

<class 'str'>

In [25]:
x = 1j
print(type(x))

<class 'complex'>

In [26]:
x = True
print(type(x))

<class 'bool'>

In [31]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [32]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [ ]:
x = 5
print(type(x))
x = "Hello World"
print(type(x))
x = 20
print(type(x))
x = 20.5
print(type(x))
x = 1j
print(type(x))
x = ["apple", "banana", "cherry"]
print(type(x))
x = ("apple", "banana", "cherry")
print(type(x))
# x = range(6)
# print(type(x))
# x = {"name" : "John", "age" : 36}
# print(type(x))
# x = {"apple", "banana", "cherry"}
# print(type(x))
x = True
print(type(x))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'bool'>

# Control flow

## Conditional Statements
Simply these are if, if-else and if-elif-else or combination of if-many elif-else

In [36]:
x=4

if (x%2==1):
    print("Even")
    print("done")
print("outside if")

outside if

In [39]:
x=3

if(x%2==0):
    print("Even")
else:
    print("Odd")

Odd

In [41]:
y=20

if(y>90):
    print("Grade A")
elif(y>60):
    print("Grade B")
elif(y>40):
    print("Grade C")
else:
    print("Grade F")

Grade F

## Looping Conditions

In [42]:
for item in ['a', 4, 'hello', 100]:
    print(item)

a
4
hello
100

In [43]:
[1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [47]:
i = 10
s = 0

while (i!=0):
    s = s + i
    i = i - 1
    print(f"s = {s}", end = " ")
    print(f"i = {i}")
print(s)

s = 10 i = 9
s = 19 i = 8
s = 27 i = 7
s = 34 i = 6
s = 40 i = 5
s = 45 i = 4
s = 49 i = 3
s = 52 i = 2
s = 54 i = 1
s = 55 i = 0
55

## Quiz

มี list x = [12.0, 3.5, 84.1, 12.3]

x = [5,6,9,3,6,5,9,6,4,9,6,2,6,9,6,69]


1.   ให้หาผลรวมของตัวเลขใน list นี้
2.   ให้หาค่าเฉลี่ยของตัวเลขใน list นี้

In [56]:
list_of_x = [12.0, 3.5, 84.1, 12.3]
# summation
# you can use function sum(list_of_x)
sum_list = 0
for item in list_of_x:
    sum_list = sum_list + item
print(sum_list)

111.89999999999999

In [57]:
length_list = 0

# length
# you can use function len(list_of_x)
for item in list_of_x:
    length_list = length_list + 1
print(length_list)

4

In [74]:
round(sum_list/length_list , 2)

27.97

## Quiz

ให้ list [2, 6, 5,9, 6]

ให้เขียนโปรแกรมแสดงผลจำนวนคี่ที่อยู่ใน list

input [2, 6, 5,9, 6]

output

5

9

In [76]:
list_x =  [2, 6, 5,9, 6]

for item in list_x:
    if (item%2 == 1):
        print(item)

5
9

## Quiz

หาจำนวนที่มากที่สุดใน list ใดๆ โดยที่จำนวนน้อยใน list ที่สุดเป็น 0 เสมอ

input [2, 6, 5,9, 6]

output 9

In [79]:
list_x =  [2, 6, 5,9, 6, 100, 2, 6,9,6,3,4,5,8]

max_value_in_list = 0

for item in list_x:
    if item>max_value_in_list:
        max_value_in_list = item
print(max_value_in_list)

100

# Functions

We define user defined function with the help of def keyword

```
def function_name(params=default_value(optional)):
  function_definition
```

In [102]:
def print_hello_name(name , surname):
    print("hello "  + name + " " + surname)

In [103]:
print_hello_name("john", 'doe')

hello john doe

In [98]:
# Finding the square of n

# define function
def square(i):
    print("in function")
    return i*i

# เรียกใช้ function นำ return มาเก็บใน x
x = square(5) # x = 25
y = square(6) # y = 36
# print
print("outside function")
# แสดงผลข้อมูลที่เก็บอยู่ใน x
print(x)

in function
in function
outside function
25

In [ ]:
#This function will greet you if you pass a name
def greet(username, n):
    return "Hello "+ username +" Nice to have you abroad" + " You are the " +str(n)+"th customer"


greet("Palspal", 5)

'Hello Palspal Nice to have you abroad You are the 5th customer'

### Implicit arguments
When an argument of a function is common in majority of the cases or it is "implicit" this concept is used.

In [106]:
def leap(a , c = 4):
  z=a%c
  if(z==0):
    print("Leap year")
  else:
    print("Not a leap year")

leap(1980)
leap(2100, 400)
leap(2100, c = 400)

Leap year
Not a leap year
Not a leap year

## Quiz

เขียน function ที่รับ list กับ x เข้าไปแล้วแสดงค่าที่อยู่ใน list เฉพาะค่าที่มากกว่า x

example

input: [1,6,32,9,2,1,59], x = 5

output:

6

32

9

59

In [111]:
def check_values(mylist, x):
    for item in mylist:
        if item > x:
            print(item)

In [110]:
check_values( [1,6,32,9,2,1,59], 30)

32
59

### Lamba functions
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax:

`lambda arguments : expression`

In [ ]:
x=lambda a,b,c:a*b/c
print(x(4,5,2))

10.0

### map
map( ) function basically executes the function that is defined to each of the list's element separately.

In [ ]:
gh1 = [1,2,3,4,5,6,7,8,9]
gh2=[5,6,7,8,9,11,2,3,4]
eg = map(lambda x:x+2, gh1)
print(list(eg))
eg2 = map(lambda x,y:x+y, gh1, gh2)
print (list(eg2))

[3, 4, 5, 6, 7, 8, 9, 10, 11]
[6, 8, 10, 12, 14, 17, 9, 11, 13]

### filter()
function is used to filter out the values in a list. Note that filter() function returns the result in a new list.

In [ ]:
print(list(filter(lambda x:x<5,gh1)))

[1, 2, 3, 4]

In Python, functions are the first class objects, which means that –

Functions are objects; they can be referenced to, passed to a variable and returned from other functions as well.
Functions can be defined inside another function and can also be passed as argument to another function.

![alt text](https://8thlight.com/blog/assets/posts/2019-05-07-some-common-gotchas-in-python/legb-01826a807dabf2595235263252bf5b5c374c63bc7b972fb934aa1ea041897763.png)

# Lists
A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [112]:
list_a = [52, 25,662]
print(type(list_a))

<class 'list'>

In [113]:
# Let's define some list for the following illustrations

num_list = [12, 65, 74, 82, 32.6, 71.4, 673.14]
names_list=['red panda','cat','black cat','loma','cabybara']
math_constant_list = [ 2.71828, 3.1415926535, 1.32471, 3.3598856662]

In [114]:
# min() - minimum
min(math_constant_list)

1.32471

In [115]:
# max() - maximum
max(names_list)

'red panda'

In [ ]:
# len() - length
len(names_list)

5

In [116]:
# help() - check the details of the function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

### **Indexing**
In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [117]:
names_list=['red panda','cat','black cat','loma','cabybara']

In [118]:
names_list[0]

'red panda'

In [119]:
print(names_list)
names_list[1] = 'rainbow'
print(names_list)

['red panda', 'cat', 'black cat', 'loma', 'cabybara']
['red panda', 'rainbow', 'black cat', 'loma', 'cabybara']

in Python, if you are stating indexing from negative numbers, it will traverse through the back of the list.

```
 x[0] = x[-4]
 x[1] = x[-3]
 ```

 This concept can be extended towards lists with more many elements.

In [120]:
names_list

['red panda', 'rainbow', 'black cat', 'loma', 'cabybara']

In [ ]:
names_list[-1]

'cabybara'

In [121]:
names_list[-2]

'loma'

We can merge two list into one to create a 2D list

In [122]:
num_list

[12, 65, 74, 82, 32.6, 71.4, 673.14]

In [123]:
math_constant_list

[2.71828, 3.1415926535, 1.32471, 3.3598856662]

In [126]:
merged_list = [num_list , math_constant_list]
merged_list

[[12, 65, 74, 82, 32.6, 71.4, 673.14],
 [2.71828, 3.1415926535, 1.32471, 3.3598856662]]

In [128]:
merged_list[0]

[12, 65, 74, 82, 32.6, 71.4, 673.14]

In [ ]:
merged_list[0][2]

74

In [ ]:
merged_list[1][-1]

3.3598856662

In [138]:
# function with multiple return
elist = [10,50,30,12,6,8,100]
def efunc(b):
    highest = max(b)
    lowest = min(b)
    first = b[0]
    last = b[-1]
    return highest , lowest,first,last

# แนะนำแบบนี้
highest, lowest, first, last = efunc(elist)

# แบบนี้ก็ได้
output = efunc(elist)
print(type(output))
highest = output[0]
lowest = output[1]
first = output[2]
last = output[3]

In [132]:
type(output)

tuple

In [137]:
highest

100

Indexing limited us to accessing a single element at a time.
 Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

### **Slicing**
It is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [ ]:
names_list=['red panda','cat','black cat','loma','cabybara']

In [ ]:
names_list[1:3]

['cat', 'black cat']

In [ ]:
names_list[:3]

['red panda', 'cat', 'black cat']

In [ ]:
names_list[3:]

['loma', 'cabybara']

In [ ]:
names_list[:]

['red panda', 'cat', 'black cat', 'loma', 'cabybara']

In [ ]:
names_list[7] # Index error

IndexError: ignored

### List comprehension

In [ ]:
numbers = [i for i in range(25)]
print(numbers)
numbers[3:9:2]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

[3, 5, 7]

Python sequence slice addresses can be written as a[start:end:step] and any of start, stop or end can be dropped. a[: : i] is every i'th element of the sequence.

There are two ways of generating list from range :-

- using list() typecasting
- using shorter notation

In [ ]:
list(range(10)[::2])

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(10)] # generating list from range function

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
y = [1,2,3,4,5,6]
y[-3::2]
#This means starting from the 3th element from the end, which is number 4, and counting backwards by 2 (skipping 1) until the beginning of the array is reached.

[4, 6]

In [ ]:
y[::-1]

[6, 5, 4, 3, 2, 1]

In [ ]:
y[::-2]

[6, 4, 2]

### List Methods
The methods of list are

- append()

- extend()

- index()

- insert()

- pop()

**append(a)** is used to append element a at the end of list.

In [ ]:
#use of append
lst = [1,1,4,8,7]
lst.append(2)
print(lst)

[1, 1, 4, 8, 7, 2]

#### Joining two lists

**extend(lst)** is used to to nest one list lst into given list.

In [ ]:
lst1 = [1,1,4,8,7]
lst2=[2,5,6,7]
lst1.extend(lst2)
lst1

[1, 1, 4, 8, 7, 2, 5, 6, 7]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1 + list2

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
list3

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

## Quiz

เขียน function ที่รับ list 2 อันและตัวเลข 1 ตัว (x) โดย list แรกเก็บข้อมูล radiation dose ที่ผู้ป่วยได้รับ list สอง เก็บชื่อผู้ป่วย จงหาว่าผู้ป่วยคนไหนได้รับ radiation dose มากกว่า x

example

*input*:

[12, 60, 50]

["carl", "john", 'sarah]

x = 50

*output*:

john

In [ ]:
def my_function(radiation_dose_list, name_list, x):
    # Your code
    return

## Other method

**index(i)** is used to find the index value of a particular element i. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [ ]:
lst.index(4)

2

**insert(a,b)** is used to insert a element y at a specified index value x. append( ) function made it only possible to insert at the end.

In [ ]:
lst.insert(4,'asus')
print(lst)

[1, 1, 4, 8, 'asus', 7, 1]

**remove()** is used to delete elements from list

In [ ]:
lst.remove('asus')
print(lst)

[1, 1, 4, 8, 7, 1]

**pop( )** removes the specified index, (or the last item if index is not specified). This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [ ]:
lst.pop(2)

4

**del** keyword removes the specified index. It is also used to list completely.

In [ ]:
del lst[3]
lst

[1, 1, 8, 1]

In [ ]:
del lst1
lst1 # Gets error list not defined

NameError: ignored

**reverse()** is used to reverse a list

In [ ]:
lst.reverse()
print(lst)

[1, 8, 1, 1]

**sort()** is used to sort a list in ascending order otherwise if reverse=True then descending

In [ ]:
lst.sort()
print(lst)

[1, 1, 1, 8]

In [ ]:
lst.sort(reverse=True)
print(lst)

[8, 1, 1, 1]

In [ ]:
#for a string list we will use key condiiton again
names_list.sort(key=len,reverse=True)
print(names_list)

['rajueatskaju', 'ucalyptus', 'acalyptus', 'palspal', 'anitesh']

#### Copying a list

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### Clearing a list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#### Traversing a list

In [ ]:
for i in math_constant_list:
  print(i)

2.71828
3.1415926535
1.32471
3.3598856662

In [ ]:
for i in range(len(math_constant_list)):
  print(math_constant_list[i])

2.71828
3.1415926535
1.32471
3.3598856662

**count()** is used to count the no of elements i is present in list

In [ ]:
lst.count(1)

3

### Tuples
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [ ]:
c=(1,3,17,8)
pete=('cake','spagetti','carbonara','pesto')

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed.

In [ ]:
pete[1]

'spagetti'

In [ ]:
pete[1]='asus'

TypeError: ignored

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [ ]:
11,

(11,)

In [ ]:
2*(11,)

(11, 11)

In [ ]:
thr=tuple([1,3,3])# making a tuple
thr2=tuple('No Newyears day')

print(thr)
print(thr2)

(1, 3, 3)
('N', 'o', ' ', 'N', 'e', 'w', 'y', 'e', 'a', 'r', 's', ' ', 'd', 'a', 'y')

#### Mapping one tuple to another

Mapping will give us pairs assigned to each other

In [ ]:
a = 2

In [ ]:
(a,b,c)=('Fossils','Eagles','Pink Flyod')

In [ ]:
print(a)

Fossils

## Sets

**Sets** are mainly used to eliminate repeated numbers in a sequence. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [ ]:
seta = set()
print(type(seta))

<class 'set'>

In [ ]:
seta=set([1,2,3,5,5,6,7,8,8,9])
print(seta)
setb=set(lst)
print(setb)

{1, 2, 3, 5, 6, 7, 8, 9}
{1, 2, 5, 6, 7, 8}

# Dictionaries

 A Python dictionary is a mapping of unique keys to values. Dictionaries are mutable, which means they can be changed. A dictionary maps a set of objects (keys) to another set of objects (values).

In [ ]:
my_dict = {}
my_dict2 = dict()
print(type(my_dict),type(my_dict2))

<class 'dict'> <class 'dict'>

In [ ]:
my_dict = {"radiation_dose": 60.0, "patient_name": "chaiwat"}
my_dict

{'radiation_dose': 60.0, 'patient_name': 'chaiwat'}

In [ ]:
my_dict2 = dict(radiation_dose = 60.0, patient_name = "chaiwat")
my_dict2

{'radiation_dose': 60.0, 'patient_name': 'chaiwat'}

In [ ]:
my_dict['radiation_dose']

60.0

In [ ]:
my_dict['patient_name']

'chaiwat'

In [ ]:
my_dict['new_key'] = 123

In [ ]:
another_dict = {
    "patient_surname": "abacus",
    "age": 99
}

In [ ]:
my_dict.update(another_dict)
my_dict

{'radiation_dose': 60.0,
 'patient_name': 'chaiwat',
 'new_key': 123,
 'patient_surname': 'abacus',
 'age': 99}

In [ ]:
my_dict.keys()

dict_keys(['radiation_dose', 'patient_name'])

In [ ]:
my_dict.values()

dict_values([60.0, 'chaiwat'])

In [ ]:
del my_dict['new_key']

KeyError: ignored

In [ ]:
my_dict

{'radiation_dose': 60.0,
 'patient_name': 'chaiwat',
 'patient_surname': 'abacus',
 'age': 99}

# Packages and Classes

Creating packages and classes in Python is an important feature that makes it an object oriented programming language. It gives modularity and dynamicity.

## Packages
A package is a folder that contains other smaller programs or submodules.

### Importing packages
Packages should be always be imported first in the program. The package is imported using *import* keyword

`import package_name`

`import package_name as your_custom_name`

`from package_name import object_in_package1, object_in_package2 `


> NOTE: การเขียนโปรแกรมสิ่งที่สำคัญคือการอ่าน document การเสิชเพื่อหาคำตอบ เพราะไม่มีไครสามารถจำทุกๆ function ใน program ได้

In [ ]:
# Importing package
import os

In [ ]:
list_dir = os.listdir("sample_data")
list_dir

['README.md',
 'anscombe.json',
 'mnist_train_small.csv',
 'mnist_test.csv',
 'california_housing_train.csv',
 'california_housing_test.csv']

In [ ]:
import SimpleITK

In [ ]:
!pip install SimpleITK

Collecting SimpleITK
  Downloading SimpleITK-2.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (52.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.7/52.7 MB 16.5 MB/s eta 0:00:00
Installing collected packages: SimpleITK
Successfully installed SimpleITK-2.2.1

In [ ]:
import os as myname

In [ ]:
list_dir = myname.listdir("sample_data")
list_dir

['README.md',
 'anscombe.json',
 'mnist_train_small.csv',
 'mnist_test.csv',
 'california_housing_train.csv',
 'california_housing_test.csv']

In [ ]:
from os import listdir

In [ ]:
list_dir = listdir("sample_data")
list_dir

['README.md',
 'anscombe.json',
 'mnist_train_small.csv',
 'mnist_test.csv',
 'california_housing_train.csv',
 'california_housing_test.csv']

## Class

In [ ]:
class Patient:
    def __init__(self, name, age, address = []):
        self.name = name
        self.age = age
        self.address = address

    def append_address(self, address):
        self.address.append(address)


p1 = Patient("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
p1.append_address('Bangkok')
p1.address

['Bangkok', 'Bangkok', 'Bangkok']

In [ ]:
p1.append_address('USA')
p1.address

['Bangkok', 'Bangkok', 'Bangkok', 'USA']

# Working with files

In [ ]:
with open("mydata.txt", 'w') as f:
    f.write("""this is sample data\n
                for learning files
            """)

In [ ]:
f = open('mydata.txt', 'r')
data = f.read()
f.close()
print(data)

this is sample data

                for learning files

In [ ]:
with open('mydata.txt', 'r') as f:
    data = f.read()
print(data)

this is sample data

                for learning files

In [ ]:
import pandas as pd

In [ ]:
data= pd.read_csv("sample_data/california_housing_test.csv")
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
data['households'].argmax()

1563

# Decorrators

A decorator is a design pattern in Python that allows a user to add new functionality to an existing object without modifying its structure. Decorators are usually called before the definition of a function you want to decorate.

In [ ]:
#we can asisgn functions to variables like

def mult(a,b):
  return a*b

sr=mult
sr(5,6)

30

#### **Defining Functions Inside other Functions**

In [ ]:

def decc(func):

	# hect is a Wrapper function in
	def hect():
		print("a nested func")
		func() #calling the actual function
		print("func executed")

	return hect

def func():
  print("The inner circle")


func=decc(func)

func()

a nested func
The inner circle
func executed

Decorators are very powerful and useful tool in Python since it allows programmers to modify the behavior of function or class

In [ ]:
def uppercase_decorator(function):
    def wrapper():
        func = function()
        make_uppercase = func.upper()
        return make_uppercase

    return wrapper


def say_hi():
    return 'Death Note'

decorate = uppercase_decorator(say_hi)
decorate()

'DEATH NOTE'

In [ ]:
#However, Python provides a much easier way for us to apply decorators. We simply use the @ symbol before the function we'd like to decorate. Let's show that in practice below.

@uppercase_decorator
def say_hi():
    return 'Your name'

say_hi()

'YOUR NAME'

#### **Applying Multiple Decorators to a Single Function**
We can use multiple decorators to a single function. However, the decorators will be applied in the order that we've called them. another decorator that splits the sentence into a list will be applied

In [ ]:
def split(func1):
  def inn2():
    func=func1()
    split_str=func.split()

    return split_str

  return inn2

@split
@uppercase_decorator
def say_hi():
    return 'One more chnace'

say_hi()

['ONE', 'MORE', 'CHNACE']

#### **Accepting Arguments in Decorator Functions**
Sometimes we might need to define a decorator that accepts arguments. We achieve this by passing the arguments to the wrapper function. The arguments will then be passed to the function that is being decorated at call time.

In [ ]:
def arg_decc(function):
    def wrap_arg(arg1, arg2):
        print("My arguments are: {0}, {1}".format(arg1,arg2))
        function(arg1, arg2)
    return wrap_arg


@arg_decc
def cities(city_one, city_two):
    print("Cities I love are {0} and {1}".format(city_one, city_two))

cities("Coochbehar","Kolkata")

My arguments are: Coochbehar, Kolkata
Cities I love are Coochbehar and Kolkata